.card-list {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-gap: 20px;
}

.card-container {
  width: 20rem;
  height: 20rem;
  background-color: #95dada;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 35px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.10);
}

.card-text{
  line-height: 0.1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
}

.inline-card{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.labels-card{
  color: grey;
  padding-right: 0.2rem;
}